<main>

    <section id="login">

        <h2>Login</h2>
        <form method="POST" action='@Url.Action("Login_Cadastro", "Cliente")'>

            <br />
            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" />
            </div>
            <br />
            <div>
                <input id="manter" type="checkbox">
                <label for="manter">Mantenha-me conectado</label>
            </div>
            <br />

            <p>Esqueci minha senha</p>

            <br />

            <input type="submit" value="Entrar!" />
            <br />
            
        </form>

        

    </section>
    
        <br />

        <section id="cadastro">

        <h2>Cadastre-se</h2>
        <form method="POST" action='@Url.Action("CadastrarCliente", "Cadastro")'>

            <br />
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" name="nome" />
            </div>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" name="email">
            </div>

            <div>
                <label for="endereco">Endereço</label>
                <br />
                <input id="endereco" type="endereco" maxlength="20" minlength="3" name="endereco" />
            </div>

        <div>
            <label for="telefone">Telefone</label>
            <br />
            <input id="telefone" type="telefone" maxlength="20" minlength="3" name="telefone" />
        </div>


            <div>
                <label for="data-nascimento">Data de Nascimento</label>
                <br />
                <input id="data-nascimento" type="date" maxlength="20" minlength="3" name="data-nascimento" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" name="senha">
            </div>

            <div>
                <label for="senha">Confirmar Senha</label>
                <br />
                <input id="senha" type="password" name="confirmar-senha">
            </div>
            <br />
            <div>
                <input id="manter" type="checkbox">
                <label for="manter">Mantenha-me conectado</label>
            </div>
            <br />
            <div>
                <input id="termos" type="checkbox">
                <label for="termos">Li e concordo com os <br /> termos de uso</label>
            </div>
            <br />
            <input type="submit" value="Cadastrar-se">
        </form>

    </section>

    
</main>
            
    
